p {
    color:white;
    background-color: rgba(000, 000, 000, 0.5)
    text-align: center;
 }
 #primeiro {
     color: rgb(255,255,255);
     background-color: rgba(000, 000, 000, 0.5);
     text-align: center;
 }
 p.texto {
    color: rgb255,255,255);
     background-color: rgba(000, 000, 000, 0.5);
     text-align: center;
 }
 body{
     background-color: salmon;
 }
