*{
    padding: 0;
    margin: 0;
    border: solid 1px red;
}

body{
    display: flex;
}

ul{
    list-style: none;
}

ul.menu{
    display: flex;
    justify-content: space-between;
    height: 30px;
}

ul.menu>li{
    display: flex;
    flex-direction: column;
    padding: 6px;
}

ul.submenu{
    display: none;
    position: absolute;
    z-index: 3;
    margin-top: 30px;
}

ul.menu>li{
    cursor: pointer;
}


ul.menu>li:hover>ul.submenu{
    display: block;
}


ul.menu>li:hover{
    background-color: aqua;
}
